@using System.Text.Json
@using Chat_ovaci_aplikace.Models.MainPage

@model MainPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid h-100">
    <div class="row h-100">

        <!-- Levý panel -->
        <div id="chataContainer" class="col-4 retro-panel">
            <div class="retro-panel retro-bg">
    <table class="retro-table">
        <thead>
            <tr>
                <th>Chata</th>
                <th>Organizátor</th>
                <th>Místo</th>
                <th>Adresa</th>
                <th>Začátek</th>
                <th>Zaplatil</th>
                <th>Účast</th>
                <th>Volná lůžka</th>
                <th>Odpočet</th>
            </tr>
        </thead>
        <tbody>
                        @foreach (ChataMainViewModel mainModel in Model.chatas)
                        {

                            <tr>
                                <td>@mainModel.JmenoChaty</td>
                                <td>@mainModel.Organizator</td>
                                <td>@mainModel.Mesto, @mainModel.Zeme<br />@mainModel.Cast</td>
                                <td>@mainModel.Ulice<br />@mainModel.PSC</td>
                                <td>@mainModel.Zacatek.ToString("dd.MM.yyyy HH:mm")</td>
                                <td>
                                    @if (mainModel.Zaplatil)
                                    {
                                        <span class="retro-badge-yes">ANO</span>
                                    }
                                    else
                                    {
                                        <span class="retro-badge-no">NE</span>
                                    }
                                </td>
                                <td>
                                    @if (mainModel.UcastniSe)
                                    {
                                        <span class="retro-badge-yes">ANO</span>
                                    }
                                    else
                                    {
                                        <span class="retro-badge-no">NE</span>
                                    }
                                </td>
                                <td>@mainModel.volnaLuzka</td>
                                <td class="stopky">zde bude čas</td>
                            </tr>
                            <script>

                             </script>
                        }
                    </tbody>
                </table>
            </div>
                        Levý panel
        </div>

        <!-- Pravý panel rozdělený vertikálně -->
        <div class="col-8 d-flex flex-column">

            <div class="retro-panel mb-3" style="flex: 1;">
                Horní pravý panel
            </div>

            <div class="retro-panel" style="flex: 1;">
                Dolní pravý panel
            </div>

        </div>

    </div>
</div>

<script>
        
</script>