@using Chat_ovaci_aplikace.Models.Chata;
@using Chat_ovaci_aplikace.Entities;
@model Chat_ovaci_aplikace.Entities.Chata;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="retro-box">

    @foreach (Mistnost mistnost in Model.Mistnosti.OrderBy(s => s.IdMistnosti))
    {
        <p class="retro-room-title">Mistnost @mistnost.NazevMistnosti</p>

        <div>
            @foreach (Misto misto in mistnost.Mista.OrderBy(s => s.IdJeManzelskeS).ThenBy(s => s.IdMisto))
            {
                <div class="retro-seat">
                    <table>
                        <tr>

                            @foreach (Den den in Model.Dny.OrderBy(s => s.Datum))
                            {
                                if (misto.JeMistoObsazenoVDen(den))
                                {
                                    if (misto.VTenDenMaMisto(den).ucastnik.Uzivatel.Username == ViewBag.username)
                                    {
                                        <th>
                                            <a asp-controller="chata" asp-action="odstranZMista" asp-route-den="@den.IdDen" asp-route-misto="@misto.IdMisto">
                                                @misto.VTenDenMaMisto(den).ucastnik.Uzivatel.Username
                                            </a>
                                        </th>
                                    }
                                    else
                                    {
                                        <th>
                                            @misto.VTenDenMaMisto(den).ucastnik.Uzivatel.Username
                                        </th>
                                    }
                                }
                                else
                                {
                                    <th>
                                        <a class="retro-free" asp-controller="chata" asp-action="zapisNaMisto" asp-route-den="@den.IdDen" asp-route-misto="@misto.IdMisto">
                                            volno
                                        </a>
                                    </th>
                                }
                            }

                        </tr>
                    </table>
                </div>
            }
        </div>
    }

</div>